@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Home Test";
    Layout = "_Layout";
}

<h1>Home Controller Test View</h1>

<p>ViewBag.id2: @ViewBag.id</p>
<p>ViewBag.searchText: @ViewBag.searchText</p>