@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Annual Sales";
}

<h2>Annual Sales Report</h2>

<div class="row">
    <div class="col">
        <select name="year" asp-items="@Model" class="form-control">
            <option value="">Select...</option>
        </select>
    </div>
</div>

<div class="row">
    <div class="col">
        <svg width="100%" height="600px" class="boredr border-primary rounded p-2">

        </svg>
    </div>
</div>

@section scripts {
    <script type="module">
        import * as d3 from "https://cdn.jsdelivr.net/npm/d3@7/+esm";

        // 1 select svg element
        let svg = d3.select("svg");

        // 2 determine the size of the svg element
        let height = svg.node().getBoundingClientRect().height;
        let width = svg.node().getBoundingClientRect().width;

    </script>
}